@import 'constants';

.block-placeholder{

  .block-placeholder{
    width: 350px;
    height: 100px;
    margin-bottom: 15px;

    .block-page-wrapper{
      width: 350px;
      height: 100px;

      .page-center{
        display: inline-block;

        .block-header{
          font-size: 15px;
          margin-top: 37px;
        }

        .block-description{
          font-size: 7px;
        }

        .block-zoom-content{
          margin-top: 20px;
        }
      }
    }

    .block-page{
      color: $white;
    }
  }
}

.project-logo{
  height: 50px;
  margin-right: 20px;
  margin-top: 25px;
}

.project-header{
  display: inline-block;
  vertical-align: top;
}

.project-tools{
  margin-bottom: 40px;
}

.zoom-in .block-page .block-inner-content .block-placeholder{
  width: 700px;
  height: 200px;
  margin-bottom: 30px;

  .block-page-wrapper{
    width: 700px;
    height: 200px;

    .page-center{

      .project-logo{
        height: 100px;
        margin-right: 40px;
        margin-top: 50px;
      }

      .block-header{
        font-size: 30px;
        margin-top: 70px;
        margin-bottom: 10px;
      }

      .block-description{
        font-size: 13px;
      }

      .project-content{
        width: 100%;

        .mobile-width{
          width: 49%;
          display: inline-block;
        }
      }
    }
  }
}

.dodo{
  background-color: $dodo;
}

.money-tree{
  background-color: $money-tree;
}

.splitlicious{
  background-color: $splitlicious;
}

.lucas-weather{
  background-color: $lucas-weather;
}

.venmo{
  background-color: $venmo;
}

.venmosxsw2014{
  background-color: $venmosxsw2014;
}
