/*COLORS*/
/*MIXINS*/
/*ELEMENT CONSTANTS*/
h1 {
  font-size: 40px;
  font-weight: 300; }

h2 {
  font-weight: 300;
  font-size: 30px; }

h3 {
  font-weight: 500;
  font-size: 20px; }

p {
  font-size: 13px;
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  padding: 0; }

li {
  text-decoration: none;
  list-style: none; }

button, label {
  cursor: pointer; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn-grey {
  color: #ffffff;
  background-color: #b6b6be; }

input {
  padding: 6px 12px;
  font-weight: normal;
  line-height: 1.428571429;
  border: 1px solid transparent; }

.no-display {
  display: none; }

/*DISABLE DEFAULTS*/
button {
  border: 1px solid transparent;
  background-color: transparent;
  outline: none; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

html, body, .view-container, .view-frame {
  margin: 0;
  padding: 0;
  font-family: "museo-slab";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background-color: #b6b6be;
  color: #ffffff; }

.main-content {
  text-align: center; }

.header-container {
  padding: 70px 0; }
  .header-container .header {
    text-align: center; }
  .header-container .header-bottom-wrapper {
    height: 32px; }
  .header-container .divider-container {
    height: 2px; }
  .header-container .divider-white {
    width: 550px;
    margin: auto;
    border-bottom: 2px solid;
    color: #ffffff; }
    .header-container .divider-white.ng-hide {
      width: 0; }
  .header-container .divider-white.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all; }
  .header-container .social-link-wrapper {
    text-align: center;
    margin-top: 10px;
    height: 20px; }
    .header-container .social-link-wrapper .social-link {
      padding: 0 10px;
      opacity: 1; }
      .header-container .social-link-wrapper .social-link svg {
        width: 16px; }
      .header-container .social-link-wrapper .social-link.ng-hide {
        opacity: 0; }
  .header-container .social-link.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all; }

.content-block-container {
  width: 700px;
  height: 200px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
  cursor: pointer;
  vertical-align: top; }
  .content-block-container .content-block {
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden; }
    .content-block-container .content-block .block-header {
      margin: 40px 70px 40px 0;
      display: inline-block;
      vertical-align: top; }
  .content-block-container .resume {
    background-color: #7ebae5;
    color: #ffffff; }
    .content-block-container .resume .resume-img {
      width: 300px;
      margin-bottom: 40px; }
  .content-block-container .projects {
    background-color: #ffffff;
    color: #b6b6be; }
    .content-block-container .projects .block-inner-content {
      width: 300px;
      margin-bottom: 40px; }
  .content-block-container .about {
    background-color: #ffffff;
    color: #b6b6be; }
    .content-block-container .about .block-inner-content {
      width: 300px;
      margin-bottom: 40px; }

.main-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0; }
  .main-content .header-container {
    position: relative;
    top: 0; }
    .main-content .header-container.ng-hide {
      top: -220px; }
  .main-content .resume-container {
    position: relative;
    top: 0; }
    .main-content .resume-container.ng-hide {
      top: -220px; }
  .main-content .projects-container, .main-content .about-container {
    position: relative;
    top: 0; }

.block-zoom,
.block-zoom-add.block-zoom-add-active {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 0 !important; }
  .block-zoom.block-zoom-add-active,
  .block-zoom-add.block-zoom-add-active.block-zoom-add-active {
    top: -220px !important; }
  .block-zoom > .content-block > .block-header,
  .block-zoom-add.block-zoom-add-active > .content-block > .block-header {
    font-size: 40px;
    margin-top: 70px; }
  .block-zoom > .content-block > .block-inner-content,
  .block-zoom-add.block-zoom-add-active > .content-block > .block-inner-content {
    width: 700px; }

.content-block-container.ng-hide-add.ng-hide-add-active,
.content-block-container.ng-hide-remove.ng-hide-remove-active,
.header-container.ng-hide-add.ng-hide-add-active,
.header-container.ng-hide-remove.ng-hide-remove-active,
.block-zoom-add, .block-zoom-remove,
.block-hide-add, .block-hide-remove,
.resume-img, .block-header {
  -webkit-transition: 0.75s cubic-bezier(0, 0.38, 0.49, 1) all;
  -moz-transition: 0.75s cubic-bezier(0, 0.38, 0.49, 1) all;
  -o-transition: 0.75s cubic-bezier(0, 0.38, 0.49, 1) all;
  transition: 0.75s cubic-bezier(0, 0.38, 0.49, 1) all; }

.arrow-left-white {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ffffff; }

.arrow-left-grey {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #b6b6be; }

.back-arrow {
  cursor: pointer; }

/*# sourceMappingURL=app.css.map */
