@import 'constants';

html, body, .view-container, .view-frame{
  margin: 0;
  padding: 0;
  font-family: "museo-slab";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background-color: $grey;
  color: $white;
}

.main-content{
  text-align: center;
}

.header-container{
  padding: 75px 0;

  .header{
    text-align: center;
  }

  .header-bottom-wrapper{
    height: 32px;
  }

  .divider-container{
    height: 2px;
  }

  .divider-white{
    width: 420px;
    margin: auto;
    border-bottom: 2px solid;
    color: $white;

    &.ng-hide{
      width: 0;
    }
  }

  .divider-white.ng-hide-remove.ng-hide-remove-active{
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
  }

  .social-link-wrapper{
    text-align: center;
    margin-top: 10px;
    height: 20px;

    .social-link{
      padding: 0 10px;
      opacity: 1;
      width: 16px;
      height: 16px;
      display: inline-block;

      svg, img{
        width: 16px;
      }

      img{
        vertical-align: top;
      }

      &.ng-hide{
        opacity: 0;
      }
    }
  }

  .social-link.ng-hide-remove.ng-hide-remove-active{
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
  }
}

.block-placeholder.header-placeholder{
  box-shadow: none;
}

.block-placeholder{
  width: 700px;
  height: 200px;
  margin: auto;
  margin-bottom: 30px;
  overflow: hidden;
  display: block;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);

  &.cursor-pointer{
    cursor: pointer;
  }

  .block-page-wrapper{
    width: 700px;
    height: 200px;
    overflow: hidden;

    .page-left{
      display: inline-block;
      width: 200px;

      .page-header-wrapper{
        display: inline-block;

        .block-header{
          margin-bottom: 20px;
          margin-top: 82px;
        }

        .section-description{
          margin-bottom: 20px
          ;
        }
      }
    }

    .page-right{
      display: inline-block;
      vertical-align: top;
      margin: 0 16px;

      .block-inner-content{
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px;
      }
    }
  }

  .resume{
    background-color: $yellow;
    color: $white;

    .page-right{
      width: 50%;
    }
    .resume-img{
      width: 100%;
    }
  }

  .projects{
    background-color: $white;
    color: $grey;

    .projects-arrow{
      border-right-color: $grey;
    }
  }

  .about{
    background-color: $light-blue;
    color: $white;

    .block-inner-content{
      width: 100%;
      margin-bottom: 40px;
      margin-top: 40px;
    }

    .about-gif{
      width: 350px;
    }
  }
}

.block-zoom-content-placeholder{
  min-height: 34px;
}

.block-zoom-content{
  display: none;
  text-align: center;
}

.download-link{
  display: block;
  margin-top: 80px;
}

.app-store-img{
  display: block;
  width: 150px;
  margin: auto;
  margin-bottom: 20px;
}

.arrow-left{
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid $white;
}

.back-arrow{
  cursor: pointer;
  display: inline-block;
}

p.back-arrow{
  line-height: 31px;
  padding-left: 10px;
  vertical-align: top;
}

@import "projects";
@import "animations";
