/*COLORS*/
/*MIXINS*/
/*ELEMENT CONSTANTS*/
h1 {
  font-size: 40px;
  font-weight: 300; }

h2 {
  font-weight: 300;
  font-size: 30px; }

h3 {
  font-weight: 500;
  font-size: 20px; }

p {
  font-size: 13px;
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  margin: 0;
  padding: 0; }

li {
  text-decoration: none;
  list-style: none; }

button, label {
  cursor: pointer; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn-grey {
  color: #ffffff;
  background-color: #b6b6be; }

input {
  padding: 6px 12px;
  font-weight: normal;
  line-height: 1.428571429;
  border: 1px solid transparent; }

.no-display {
  display: none; }

/*DISABLE DEFAULTS*/
button {
  border: 1px solid transparent;
  background-color: transparent;
  outline: none; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

html, body, .view-container, .view-frame {
  margin: 0;
  padding: 0;
  font-family: "museo-slab";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background-color: #b6b6be;
  color: #ffffff; }

.main-content {
  text-align: center; }

.header-container {
  padding: 75px 0; }
  .header-container .header {
    text-align: center; }
  .header-container .header-bottom-wrapper {
    height: 32px; }
  .header-container .divider-container {
    height: 2px; }
  .header-container .divider-white {
    width: 550px;
    margin: auto;
    border-bottom: 2px solid;
    color: #ffffff; }
    .header-container .divider-white.ng-hide {
      width: 0; }
  .header-container .divider-white.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all; }
  .header-container .social-link-wrapper {
    text-align: center;
    margin-top: 10px;
    height: 20px; }
    .header-container .social-link-wrapper .social-link {
      padding: 0 10px;
      opacity: 1; }
      .header-container .social-link-wrapper .social-link svg {
        width: 16px; }
      .header-container .social-link-wrapper .social-link.ng-hide {
        opacity: 0; }
  .header-container .social-link.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all; }

.block-placeholder {
  width: 700px;
  height: 200px;
  margin: auto;
  margin-bottom: 30px;
  overflow: hidden;
  display: block; }
  .block-placeholder .block-page-wrapper {
    width: 700px;
    height: 200px;
    overflow: hidden; }
    .block-placeholder .block-page-wrapper .page-left {
      display: inline-block;
      text-align: left;
      width: 200px; }
      .block-placeholder .block-page-wrapper .page-left .page-header-wrapper {
        display: inline-block; }
        .block-placeholder .block-page-wrapper .page-left .page-header-wrapper .block-header {
          margin-bottom: 20px;
          margin-top: 82px; }
        .block-placeholder .block-page-wrapper .page-left .page-header-wrapper .section-description {
          margin-bottom: 20px; }
    .block-placeholder .block-page-wrapper .page-right {
      display: inline-block;
      vertical-align: top;
      width: 50%; }
      .block-placeholder .block-page-wrapper .page-right .block-inner-content {
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px; }
  .block-placeholder .resume {
    background-color: #7ebae5;
    color: #ffffff; }
    .block-placeholder .resume .resume-img {
      width: 100%; }
  .block-placeholder .projects {
    background-color: #ffffff;
    color: #b6b6be; }
    .block-placeholder .projects .arrow-left {
      border-right-color: #b6b6be; }
  .block-placeholder .about {
    background-color: #f5cf33;
    color: #ffffff; }
    .block-placeholder .about .block-inner-content {
      width: 100%;
      margin-bottom: 40px;
      margin-top: 40px; }
    .block-placeholder .about .about-gif {
      width: 350px; }

.block-zoom-content {
  opacity: 0;
  text-align: center; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ffffff; }

.back-arrow {
  cursor: pointer;
  display: inline-block; }

p.back-arrow {
  line-height: 31px;
  margin-left: 10px;
  vertical-align: top; }

/*# sourceMappingURL=app.css.map */
