<div class="landing-container">
  <div class="header-container">
    <h1 class="header">
      THOMAS, TOM & TOMMY
    </h1>
    <div class="divider-container">
      <div class="divider-black" ng-show="headerLineShow"></div>
    </div>
  </div>

  <div class="main-content">
    <div class="content-block-container">
      <div class="content-block resume" ng-click="showResume()">
        <h2 class="block-header">
          RESUME
        </h2>
        <img src="images/resume-flat.png" class="resume-img">
      </div>
    </div>
    <div class="content-block-container">
      <div class="content-block projects" ng-click="showProjects()">
        <h2 class="block-header">
          PROJECTS
        </h2>
      </div>
    </div>
  </div>

  <div>
</div>
