<link rel="stylesheet" href="css/{{params.version}}.css">
<link rel="stylesheet" href="css/animations.css">
<div class="landing-container">

  <div class="main-content">
    <div class="block-placeholder header-placeholder">
      <div class="header-container">
        <h1 class="header">
          THOMAS, TOM & TOMMY
        </h1>
        <div class="header-bottom-wrapper">
          <header-bottom></header-bottom>
        </div>
      </div>
    </div>

    <div class="block-placeholder resume-placeholder"
      ng-click="showBlock('resume'); arrowShow=true">
      <div class="block-page-wrapper resume-wrapper">
        <div class="block-page resume">
          <div class="page-left">
            <div class="page-header-wrapper">
              <h2 class="block-header">
                RESUME
              </h2>
              <div class="arrow-left-white back-arrow" ng-show="arrowShow"
                ng-click="hideBlock('resume'); arrowShow=false; $event.stopPropagation();"></div>
            </div>
          </div>
          <div class='page-right'>
            <img ng-src="{{resumeImg}}" class="resume-img block-inner-content">
          </div>
        </div>
      </div>
    </div>

    <div class="block-placeholder projects-placeholder"
      ng-click="showBlock('projects')">
      <div class="block-page-wrapper projects-wrapper">
        <div class="block-page projects">
          <div class="page-left">
            <div class="page-header-wrapper">
              <h2 class="block-header">
                PROJECTS
              </h2>
              <div class="arrow-left-grey back-arrow"
                ng-click="hideBlock('projects'); $event.stopPropagation();"></div>
            </div>
          </div>
          <div class="page-right">
            <img ng-src="{{resumeImg}}" class="resume-img block-inner-content">
          </div>
        </div>
      </div>
    </div>

    <div class="block-placeholder about-placeholder"
      ng-click="showBlock('about')">
      <div class="block-page-wrapper about-wrapper">
        <div class="block-page about">
          <div class="page-left">
            <div class="page-header-wrapper">
              <h2 class="block-header">
                ABOUT ME
              </h2>
              <div class="arrow-left-grey back-arrow"
                ng-click="hideBlock('about'); $event.stopPropagation();"></div>
            </div>
          </div>
          <div class="page-right">
            <img ng-src="{{resumeImg}}" class="resume-img block-inner-content">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
